.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me p {
  margin: 3rem;
  padding: 2.5rem 5rem;
  font-size: 1.2rem;
  background-color: rgba(167, 166, 166, 0.55);
  border-radius: 15px;
}

#about-me {
  margin-top: 2.5rem;
  margin-left: 8rem;
  margin-bottom: 1.5rem;
  font-size: 2.75rem;
  color: #04151F; 
  text-decoration: underline;
  text-shadow: 2px 2px 4px #a7a6a6;
}

#profile-picture {
  border-radius: 10%;
  margin-left: 2.5rem;
  width: 30vw;
  height: auto;
  opacity: .9;
}

@media (min-width: 1000px) {
  .about-me {
    flex-direction: row;
    text-align: left; 
  }
}

@media (max-width: 1000px) {
  .about-me {
    flex-direction: column;
    text-align: left; 
  }

  .about-me p {
    margin: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgba(167, 166, 166, 0.55);
    border-radius: 15px;
  }

  #about-me {
    margin: 3% 0 3% 0;
    text-align: center;
  }

  #profile-picture {
    margin-left: 0;
    width: 50vw;
  }
}

@media (max-width: 426px) {
  .about-me p {
    margin: 1rem .5rem;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
    background-color: rgba(167, 166, 166, 0.55);
    border-radius: 15px;
  }
  
  #about-me {
    margin: 10% 0 10% 0;
    text-align: center;
    font-size: 2rem;
  }

  #profile-picture {
    border-radius: 10%;
    width: 50vw;
    height: auto;
    opacity: .9;
  }

}