.about-me {
  color: #04151F;
  
}

.about-me p {
  margin: 3rem;
  padding: 2.5rem 5rem;
  font-size: 1.2rem;
  background-color: rgba(167, 166, 166, 0.55);
  border-radius: 15px;


}

#about-me {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.75rem;
  color: #04151F; 
  text-shadow: 2px 2px 4px #a7a6a6;
}

#profile-picture {
  border-radius: 10%;
  margin-left: 2.5rem;
  max-width: 50%;
  height: auto;
  opacity: .9;
}