
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;;
    background-image: url("../../public/assets/BackgroundImage.jpg");
    background-size: cover;
}
nav {
    margin: 0;
    padding: 0;
}

