.card-header {
  font-size: 2rem;
  font-weight: 530;
}

#error-message {
  margin-bottom: 1rem;
  font-style: italic;
}

#contact-form {
  width: 45rem;
  border: 2px solid rgb(135, 2, 2);
}

#submit-button {
  background-color: rgb(135, 2, 2);
  border: none;
}

#submit-button:hover {
  background-color: rgb(204, 124, 124);
}

@media (max-width: 743px) {
  #contact-form {
    max-width: 25rem;
  }
}

@media (max-width: 423px) {
  #contact-form {
    max-width: 15rem;
  }
}
