.footer {
    height: fit-content;
    background-color: rgba(167, 166, 166, 0.3);
    border-top: 1px solid rgb(113, 113, 113)
}
.nav .footer {
    align-items: center;
}

.footer img {
    opacity: .65;
}

.footer img:hover {
    opacity: 1;
}