/* .navbar {
  background: #6a1b9a;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
} */
