.project-images {
    border: 4px solid #3c6f72;
    margin-bottom: 15px;
    max-width: 401px;
    height: auto;
}

.project {
    position: relative;
}

.project-label {
    position: absolute;
    background-color: #a57e8d;
    border: 2px solid #3c6f72;
    font-size: 1rem;
    height: fit-content;
    margin-top: 9%;
    padding: 4px;
    z-index: 1;
}

.project-label p {
    margin-bottom: 0;
}

.project-label a {
    color: #3c6f72;
}

.project img {
    opacity: 0.5;
}

.project img:hover {
    opacity: 1;
}